@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Jost', sans-serif;
	font-weight: 500;
}
li{
	list-style: none;
}
#contenedor{
	display: grid;
	grid-template-areas:
	"nav nav nav"
	"logos logos logos"
	"titulo titulo titulo"
	"productos producto producto"
	"footer footer footer";
	grid-column-gap: 1fr;
	grid-row-gap: 100px;
	justify-items: start;
	align-items: center;
	height: 100vh;
	margin: auto;
}
.bgImageFullScreen{
	grid-area: imagen;
	height: 35vh;
	background-image: url('../assets/banner2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#header{
	grid-area: nav;
	width: 100%;
	height: 50px;
	background-color: #6f7ccb;
	background-size: cover;	
}

#header .nav li{
	display: inline-block;
	margin-left: 2%;
	width: 17%;
	text-align: center;
	font-weight: 500;
}
#header .nav .active a{
	color: #0d0d0d;
	}

#header .nav a{
	color: #FFFFFF;
	text-decoration: none;
}
#header ul{
	padding-top: 15px;
}

.logosMarcas{
 	grid-area: logos;
	justify-items: center;
	align-items: center;
}
.logos{
	display: inline-grid;
	margin: 10px;
	padding: 20px;
}
#tituloProductos{
	grid-area: titulo;
	margin: auto;
	text-align: center;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 25px;	
}
.productosDestacados{
	grid-area: producto;
	display: flex;
	justify-content: center;
}
.productosDestacados .box p{
	text-align: center;
	margin: 10px;
	font-weight: 500;
	font-size: 15px;
}
.productosDestacados img{
	padding: 10px;
	margin: auto;
	align-items: center;
	justify-items: center;
	height: 100px;
	width: 150px;
}
.centrado{
	margin-left: auto;
    margin-right: auto;
    display: block;
}
.box{
	margin: 10px;
	padding: 20px;
	background-color: #E4E7FF;
	width: 23%;
	margin: 0 2%;
	border: #000000 1px dotted;
	justify-content: center;
	box-sizing: content-box;
}
.footer{
	grid-area: footer;
	max-width: 1140px;
	margin: auto;
	padding-top: 15px;
	background-color: #f4f4f4;
	background-size: cover;	
	height: 50vh;
}
.boxFooter{
	width: 23%;
	margin: 0 2%;
	display: inline-grid;
	padding: 30px;
	box-sizing: border-box;

}
.boxFooter p{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	text-decoration: underline;
	text-align: left;
	font-size: 14px;
}
.boxFooter li{
	margin: 10px;
	list-style: square;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size:13px;
	margin-top: 5px;
}
iframe{
	border:  0;
	margin-top: 5px;	
}
@media all and (max-width: 768px){
	.bgImageFullScreen{
		background-image: url('../assets/logoChico4.jpg');
		background-size: center;		
	}
	#header{
		background-color: #6f7ccb;
		background-size: cover;
		padding-top: 1vh;
		height: 20vh;
		font-size: 15px;		
	}
	#header .nav li{
		grid-area: nav;
		display: flex;
		flex-direction: column;
		text-align: left;
		font-size: 14px;
	}
	.logos{
		flex-direction: column;
		text-align: left;
	}
	#tituloProductos{
		grid-area: titulo;
		display: flex;
		flex-direction: column;
		text-align: left;
		margin: 50px;
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 5px;		
	}
	.productosDestacados{
		grid-area: productos;
		display: flex;
		flex-direction: column;
		text-align: left;
	}
	.productosDestacados .box p{
		font-size: 12px;
	}
	.box{
		width:auto;
		margin: 20px;
	}
	.footer{
		grid-area: footer;
		display: flex;
		flex-direction: column;
		background-position: left;
		margin: 20px;
		height: auto;
	}
	.boxFooter p{
		font-size: 14px;
	}
	.boxFooter li{
		margin-top: 5px;
	}
}
#contenedorNovedades{
	display: grid;
	grid-template-areas:
	"nav nav nav"
	"novedades novedades novedades"
	"footer footer footer";
	grid-column-gap: 1fr;
	grid-row-gap: 100px;
	justify-items: start;
	align-items: center;
	margin: auto;
}
.novedades{
	margin: 50px;
	padding-top: 5vh;
	height: 150vh;
	text-align: center;
	background-color: #fff;
	background-size: cover;
	border-color: #000000;
	border-style: dotted;
	border-width: 0.5px;

}
.novedades .titulo{
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 30px;
	text-align: center;
	text-decoration: underline;	

}
.novedades .boxNovedades{
	padding-top: 10vh;
	position: relative;
	padding: 30px;
	width: 23%;
	margin: 0 1%;
	display: inline-block;
	box-sizing: border-box;
	font-family:'Jost', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #031882;
}
.boxNovedades img{
	margin: 20px;
	height: 160px;
	width: 180px;
}
.botones{
	font-weight: 500 ;
	font-size: 13px;
	color: #ffff;
	background-color: #00178c;
	border-color: #fff;
	border-radius: 10px;
	padding: 6px;  	
}
@media all and (max-width: 768px){
	.novedades{
		grid-area: novedades;
		display: flex;
		flex-direction: column;
		text-align: left;
		box-sizing: border-box;
		height:auto;
		border: none;
	}
	.novedades .titulo{
		grid-area:novedades;
		display: flex;
		flex-direction: column;
		margin: auto;		
		font-size:20px;
		text-align:left;
		margin: 10px;
	}
	.novedades .boxNovedades{
		font-size: 12px;
		width:auto;
		margin: 20px;
		padding: 20px;
	}
	.boxNovedades img{
		height: 100px;
		width: 120px;
	}
	.botones{
		font-size: 10px;
		margin: 15px;	
	}
}
#contenedorContacto{
	display: grid;
	grid-template-areas:
	"nav nav nav"
	"mapa mapa mapa"
	"formulario formulario formulario"
	"footer footer footer";
	grid-column-gap: 2fr;
	grid-row-gap: 100px;
	justify-items: start;
	align-items: center;
	margin: auto;
}
.mapaContacto iframe{
	grid-area: mapa;
	margin: 50px;
	width: 600px;
	height: 350px;
	margin-left: auto;
    margin-right: auto;
    display: block;
}
.cajaContenedora{
	border-color: #000000;
	border-style: dotted;
	border-width: 0.5px;
	margin: 25px;
	padding-top: 5px;
}
.formulario{
	margin: 20px;
	text-align: center;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 20px;
}
.formulario p{
	margin: 20px;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 25px;
	text-align: left;
	text-decoration: underline;
	text-align: center;
}
.aceptoTerminos{
	font-weight:500 ;
	font-size: 15px;
}
.cajas{
	font-weight: 500 ;
	font-size: 15px;
	padding: 10px;
	margin: 10px;
}
@media all and (max-width: 768px){
	#contenedorContacto{
		grid-template-areas:
		"nav nav nav"
		"mapa"
		"formulario"
		"footer";
	}
	.cajaContenedora{
		border: none;
	}
	.mapaContacto iframe{
		display: flex;
		flex-direction: column;
		justify-items: left;
		width: auto;
		height: auto;
	}
	.formulario{
		text-align: left;	
	}
	.formulario p{
		font-size: 18px;
		text-align: left;	
	}
	.aceptoTerminos{
		font-size: 10px;
	}
	.cajas{
		font-size: 10px;
		padding: 5px;
		margin:5px;
	}
}
#contenedorPrecios{
	display: grid;
	grid-template-areas:
	"nav nav nav"
	"formularioIngreso formularioIngreso  formularioIngreso"
	"formularioSegundo formularioSegundo formularioSegundo"
	"footer footer footer";
	grid-column-gap: 2fr;
	grid-row-gap: 100px;
	justify-items: start;
	align-items: center;
	margin: auto;
}
.formularioIngreso{
	grid-area: formularioIngreso;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 15px;
	margin: 10px;
	order-color: #000000;
	border-style: dotted;
	border-width: 0.5px;
}
.formularioIngreso p{
	margin: 20px;
	font-weight: 500;
	font-size: 25px;
	text-align: left;
	text-decoration: underline;
}
.olvidoContraseña{
	margin: 300px;
	color: #031882 ;
}
.botonesRegistro{
	font-weight: 500 ;
	font-size: 15px;
	color: #ffff;
	background-color: #00178c;
	border-color: #fff;
	padding: 6px; 
	margin: 20px;
	border-radius: 10px;
}
.formularioSegundo{
	grid-area: formularioSegundo;
	margin: 10px;
	text-align: center;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 25px;
	border-color: #000000;
	border-style: dotted;
	border-width: 0.5px;
	margin-top: 20px;  
}
.crearCuenta{
	font-weight: 500;
	font-size: 25px;
	text-decoration: underline;
	margin: 20px;
}
.nuevoUsuario{
	color: #031882;
	font-size: 14px;
}
.botonesNuevos{
	font-weight: 500 ;
	font-size: 15px;
	color: #ffff;
	background-color: #00178c;
	border-color: #fff;
	padding: 6px;
	margin: 20px;  
}
@media all and (max-width: 768px){
	.formularioIngreso{
		border: none;
	}
	.formularioIngreso p{
		font-size: 20px;
	}
	.olvidoContraseña{
		margin: 10px;
		font-size: 12px;
	}
	.botonesRegistro{
		font-size: 10px;
		margin: 15px;
	}
	.formularioSegundo{
		text-align:left;
		font-size: 15px;  
		border: none;
	}
	.crearCuenta{
		font-size: 20px;
		text-decoration: underline;
	}
	.nuevoUsuario{
		font-size: 12px;
	}
	.botonesNuevos{
		font-weight: 500 ;
		font-size: 15px;
		color: #ffff;
		background-color: #00178c;
		border-color: #fff;
		padding: 6px;
		margin: 20px;  
	}
}
#contenedorInformacion{
	display: grid;
	grid-template-areas:
	"nav nav nav"
	"quienesSomos quienesSomos quienesSomos"
	"texto texto texto"
	"listaValores listaValores listaValores"
	"footer footer footer";
	grid-column-gap: 2fr;
	grid-row-gap: 100px;
	justify-items: start;
	align-items: center;
	margin: auto;
}
.quienesSomos{
	grid-area: quienesSomos;
	border-color: #000000;
	border-style: dotted;
	border-width: 0.5px;
	margin: 50px;
	padding-top: 5vh;	
}
.quienesSomos .titulo{
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 25px;
	text-align: center;
	text-decoration: underline;
}
.quienesSomos img{
	height: 500px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
    display: block;	
    margin-top: 1vh;
    padding-top: 1vh;

}
.texto{
	grid-area: texto;
	color: #5d5d5d;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding-top: 1vh;
	text-align: center;
	max-width: 1140px;
	margin:20px;
	text-decoration: none;
}
.frase{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 900;
	font-style: italic;
	text-align: center;
	font-size: 25px;
	color: #6f7ccb;
	height: 10vh;
}
.titulosSecundarios{
	grid-area: listaValores;
	margin: 10px;
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
	text-align: left;
	text-decoration: underline;
	padding-top: 1vh;
}
.listaValores li{
    list-style: square;
	margin: 30px;
}
@media all and (max-width: 768px){
	.quienesSomos{
		display: flex;
		flex-direction: column;
		justify-items: left;
		border: none;
	}
	.quienesSomos .titulo{
		font-size: 20px;
		text-align: left;
	}
	.quienesSomos img{
		height:200px;
		width: 200px;
	}
	.texto{
		font-size: 12px;
		text-align:left;
		max-width:auto;
	}
	.frase{
		font-size: 14px;
	}
	.titulosSecundarios{
		font-size: 18px;	
	}
	.listaValores li{
		font-size: 12px;
	   
	}
}






	

	